<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Sample.WCF.Factory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Sample.WCF.Factory.Properties.Settings>
   <setting name="SystemHost" serializeAs="String">
    <value>net.tcp://localhost:8088/</value>
   </setting>
   <setting name="Version" serializeAs="String">
    <value>1.0.0.0</value>
   </setting>
   <setting name="UserPrincipalName" serializeAs="String">
    <value>Hello_test@LACLUBS.COM</value>
   </setting>
   <setting name="DNSName" serializeAs="String">
    <value>localhost</value>
   </setting>
   <setting name="HQLHost" serializeAs="String">
    <value>net.tcp://localhost:8089/</value>
   </setting>
   <setting name="SystemHost1" serializeAs="String">
    <value />
   </setting>
   <setting name="SystemHost2" serializeAs="String">
    <value />
   </setting>
   <setting name="SystemHost3" serializeAs="String">
    <value />
   </setting>
  </Sample.WCF.Factory.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
