<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeService" />
                <binding name="BasicHttpBinding_IEmployeeService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EmployeeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="EmployeeService.IEmployeeService"
                name="BasicHttpBinding_IEmployeeService" />
            <endpoint address="http://localhost:8080/EmployeeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmployeeService1"
                contract="SusanEmployee.IEmployeeService" name="BasicHttpBinding_IEmployeeService1" />
        </client>
    </system.serviceModel>
</configuration>